<!DOCTYPE html>
<html lang="en">

<head>
    <title>Content Based News Recommender System</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <link href="https://chromium.googlesource.com/external/github.com/twbs/bootstrap/+/v3.3.4/docs/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="header">
            <h2>Content Based News Recommender System</h2>
        </div>

        <div class="jumbotron">

            <p>
                <h3>Recommendations based on keywords - <b>{{ profile }}</b>: </h3>
                        <br /> <a href="/">Search Again</a></br/>
                <pre>
                <h4>
                    {{ news }}
                </h4>
                </pre>
            </p>
        </div>

        <footer class="footer">
            <p>© Abhijeet Jain 2021MT12497 NLP Content Based Recommender System</p>
        </footer>

    </div>
</body>

</html> 
